/* laptop */
@media only screen and (max-width: 992px) {
    html{
        font-size: 75%;
    }
}

/* tablet */
@media only screen and (max-width: 768px) {
    html{
        font-size: 65%;
    }
}

/* mobile phone */
@media only screen and (max-width: 576px) {
    html{
        font-size: 60%;
    }

/* calon */
.Home .calon {
    text-align: center;
    margin-top: 5%;
    padding: 0 5rem 0 5rem;
    text-shadow: 2px 6px 6px black;
    color: #f5f5f5;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.Home .calon .calonpria{
    width: 30rem;
    /* background-color: black; */
    text-align: start;
    z-index: -1;
}
.Home .calon .calonpria img{
    display: none;
    position: absolute;
    border-radius: 50%;
    top: -1%;
    left: 33%;
    box-shadow: var(--shadow);
    z-index: -1;
}

.Home .calon .calonwanita{
    width: 30rem;
    margin-top: 40%;
    text-align: end;
    /* background-color: black; */
    z-index: -1;
}
.Home .calon .calonwanita img{
    display: none;
    position: absolute;
    border-radius: 50%;
    top: -1%;
    right: 33%;
    box-shadow: var(--shadow);
    z-index: -1;
}

}