/* laptop */
@media only screen and (max-width: 992px) {
    html{
        font-size: 75%;
    }
}

/* tablet */
@media only screen and (max-width: 768px) {
    html{
        font-size: 65%;
    }
}

/* mobile phone */
@media only screen and (max-width: 576px) {
    html{
        font-size: 60%;
    }
}